name: Triggering Event

on:
    push:
        branches:
            - main
            - dev
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
        paths:
            - "practice/*.txt"
            - "!practice/*.md"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Run script
              run: |
                echo "This is a first workflow"
                cat "$GITHUB_EVENT_PATH"
