name: GitHub Action variables and secrets (Organization, Repo, environment level)

on:
    workflow_dispatch:

jobs:
    DEV-Environemnt:
        runs-on: ubuntu-latest
        environment: dev
        env:
            BUILD1_SECRET: ${{ secrets.BUILD1_SECRET }}
            BUILD2_SECRET: ${{ secrets.BUILD2_SECRET }}
            DEV_ENV_VAR: ${{ vars.DEV_ENV_VAR }}
            ORG_VAR: ${{ vars.ORG_VAR }}
            ORG_SECRET: ${{ secrets.ORG_SECRET }}
            BUILD1_REPO_SECRET: ${{ secrets.BUILD1_REPO_SECRET }}
        steps:
            - name: Dev environment vaiables and secrets
              id: dev-env
              run: |
                echo "BUILD1_SECRET: $BUILD1_SECRET"
                echo "BUILD2_SECRET: $BUILD2_SECRET"
                echo "PROD_ENV_VAR: $DEV_ENV_VAR"
                echo "ORG_VAR: $ORG_VAR"
                echo "ORG_SECRET: $ORG_SECRET"
                echo "REPO_SECRET: $BUILD1_REPO_SECRET"
                name= Rajesh
                echo "name= ${name}" >> "$GITHUB_OUTPUT"
                echo "name= ${name}" >> "$GITHUB_ENV"
            - name: Access variables
              run: |
                echo "(Using GITHUB_ENV) My name is $name"
                echo "(Using GITHUB_OUTPUT) My name is ${{ steps.dev-env.outputs.name }}"

    PROD-Environemnt:
        runs-on: ubuntu-latest
        needs: DEV-Environemnt
        environment: prod
        env:
            BUILD1_SECRET: ${{ secrets.BUILD1_SECRET }}
            BUILD2_SECRET: ${{ secrets.BUILD2_SECRET }}
            PROD_ENV_VAR: ${{ vars.PROD_ENV_VAR }}
            ORG_VAR: ${{ vars.ORG_VAR }}
            ORG_SECRET: ${{ secrets.ORG_SECRET }}
            BUILD2_REPO_SECRET: ${{ secrets.BUILD2_REPO_SECRET }}
        steps:
            - name: Dev environment vaiables and secrets
              run: |
                echo "BUILD1_SECRET: $BUILD1_SECRET"
                echo "BUILD2_SECRET: $BUILD2_SECRET"
                echo "PROD_ENV_VAR: $PROD_ENV_VAR"
                echo "ORG_VAR: $ORG_VAR"
                echo "ORG_SECRET: $ORG_SECRET"
                echo "REPO_SECRET: $BUILD2_REPO_SECRET"
